---
import logo from '../assets/img/logos/mxvoice-logo-white-text.png';
---

<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div>
        <h4>Product</h4>
        <ul>
          <li><a href="https://download.mxvoice.app/download/exe">Download for Windows</a></li>
          <li><a href="https://download.mxvoice.app/download/dmg">Download for macOS</a></li>
          <li><a href="https://github.com/minter/mxvoice-electron">Get Source Code</a></li>
          <li><a href="https://github.com/minter/mxvoice-electron/releases">All Versions</a></li>
        </ul>
      </div>
      <div>
        <h4>About Us</h4>
        <ul>
          <li><a href="https://wademinter.com/">Wade Minter</a></li>
          <li><a href="https://andrewberkowitz.com/">Andrew Berkowitz</a></li>
        </ul>
      </div>
      <div>
        <h4>Documentation</h4>
        <ul>
          <li><a href="/docs/getting-started/">Getting Started</a></li>
          <li><a href="/docs/hotkeys/">Hotkeys</a></li>
          <li><a href="/docs/holding-tank/">Holding Tank</a></li>
          <li><a href="/docs/managing-songs/">Managing Songs</a></li>
        </ul>
      </div>
      <div class="footer-brand">
        <img src={logo.src} alt="Mx. Voice" />
        <p>&copy; {new Date().getFullYear()} Mx. Voice</p>
      </div>
    </div>
  </div>
</footer>
